<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.somu.darwinslab.ethereum">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.HomeActivity"
            tools:targetApi="jelly_bean">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>
        </activity>
        <activity android:name=".activity.EnterPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.SendActivity"
            tools:targetApi="jelly_bean">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SendActivity"/>
        </activity>
        <activity android:name=".activity.ReceiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.HomeActivity"
            tools:targetApi="jelly_bean">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>
        </activity>
    </application>

</manifest>